.dog {
    height: auto;
    width: 100%;
    filter: blur(1px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

.text {
    z-index: 100;
    position: relative;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30%;
    opacity: 0.5;
}
